body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

.box {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin: 40px auto;
  width: 300px;
}

input, button {
  padding: 10px;
  margin: 5px;
  width: 90%;
}

button {
  background: #22c55e;
  border: none;
  color: white;
  cursor: pointer;
}

.status {
  font-size: 20px;
  color: #4ade80;
}